<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Log In</h2>
                    <ul>
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>
                            <i class="icofont-simple-right"></i>
                        </li>
                        <li>Log In</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="login-area pt-100">
    <div class="container">
        <h2>Login Your Account</h2>
        <form [formGroup]="loginForm">
            <div class="form-group">
                <input formControlName="email" type="text" class="form-control" placeholder="Username, Phone Number or Email">
            </div>
            <div class="form-group">
                <input formControlName="password" type="password" class="form-control" placeholder="Password">
            </div>
        </form>
        <div class="login-sign-in">
            <a routerLink="/forgot-password">Forgot Password?</a>
            <ul>
                <li>Don’t Have Account ?</li>
                <li>
                    <a routerLink="/register">Sign Up Here</a>
                </li>
            </ul>
            <div class="text-center">
                <button (click)="login()" type="submit" class="btn login-btn">Sign In</button>
            </div>
        </div>
        <div class="login-social">
            <a href="https://www.facebook.com/" target="_blank">
                <i class="icofont-facebook"></i>
                Login With Facebook
            </a>
            <a class="login-google" href="https://mail.google.com/" target="_blank">
                <i class="icofont-google-plus"></i>
                Login With Google
            </a>
        </div>
    </div>
</div>