<div class="content-body" style="min-height: 788px;">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a routerLink="/dashboard">JobGate</a></li>
                <li class="breadcrumb-item"><a>add Category</a></li>
            </ol>
        </div>
        <!-- row -->


        <div class="row">
            
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add Category</h4>
                        <button routerLink="/dashboard/categories" type="submit" class="btn btn-primary ">View Categories</button>

                    </div>
                    <div class="d-flex pb-3 m-4 flex-wrap align-items-center">                        
                        <label class="me-2 ">Existing categories : </label> 
                        <a *ngFor="let c of categories" class="btn btn-primary light btn-rounded me-2 mb-2" >{{c.name}}</a>
                        
                    </div>
                    <div class="card-body d-flex justify-content-center" >
                        <div class="basic-form">
                            <form [formGroup]="categoryForm">
                                    
                                    <div style="width: 400px;">
                                        <label for="name">Category Name</label>
                                        <input formControlName="name" type="text" id="name"  class="form-control input-default">
                                        <label class=" mt-3" for="description">Category Description</label>
                                        <textarea formControlName="description" type="text" id="description" class="form-control input-default"></textarea>
                                    </div>
                                    <button (click)="addCategory()" type="button" class="btn btn-primary mt-3">Add</button>
                                                            
                            </form>
                        </div>
                    </div>
                   
            </div>
            
        </div>
    </div>
</div>



