<div class="content-body" style="min-height: 788px;">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a routerLink="/dashboard">JobGate</a></li>
                <li class="breadcrumb-item"><a>add Speciality</a></li>
            </ol>
        </div>
        <!-- row -->


        <div class="row">
            
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add Speciality</h4>
                        <button routerLink="/dashboard/specialties" type="submit" class="btn btn-primary ">View Specialties</button>
                    </div>
                    
                    <div class="card-body d-flex justify-content-center" >
                        <div class="basic-form">
                            <form [formGroup]="specialityForm">
                                
                                    <div style="width: 400px;">
                                        <select formControlName="category" class="default-select form-control wide mb-3">
                                            <option value="" selected disabled>Please select Category</option>
                                            <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
										</select>
                                        
                                        <label for="name">Speciality Name</label>
                                        <input formControlName="name" type="text" id="name"  class="form-control input-default">
                                        <label class=" mt-3" for="description">Speciality Description</label>
                                        <textarea formControlName="description" type="text" id="description" class="form-control input-default"></textarea>
                                    </div>
                                    <button (click)="addSpeciality()" type="button" class="btn btn-primary mt-3">Add</button>
                                                            
                            </form>
                        </div>
                    </div>
                    
            </div>
            
        </div>
    </div>
</div>



