<div class="content-body" style="min-height: 788px;">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a routerLink="/dashboard">JobGate</a></li>
                <li class="breadcrumb-item"><a>add skills</a></li>
            </ol>
        </div>
        <!-- row -->


        <div class="row">
            
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add skills</h4>
                        <button routerLink="/dashboard/skills" type="submit" class="btn btn-primary ">View skills</button>

                    </div>
                    <div class="d-flex pb-3 m-4 flex-wrap align-items-center">                        
                        <label class="me-2 ">Existing skills : </label> 
                        <a *ngFor="let s of skills" class="btn btn-primary light btn-rounded me-2 mb-2" >{{s.skillname}}</a>
                        
                    </div>
                    <div class="card-body d-flex justify-content-center">
                        <div class="basic-form ">
                            <form [formGroup]="skillForm" class="d-flex align-items-center flex-wrap">
                                
                               
                                <div class="mb-2">
                                    
                                    <div >
                                        
                                        <select formControlName="speciality" class="form-select" aria-label="Default select example">
                                            <option value="" selected disabled>Please select speciality</option>
                                            <option *ngFor="let spec of specialties" [value]="spec._id" >{{spec.name}}</option>
        
                                          </select>
        
                                    </div>
                                </div>
                                <div class="mb-2 mx-sm-3">
                                    <label class="sr-only">Skill Name</label>
                                    <input formControlName="skillname" type="text" class="form-control" placeholder="Name">
                                </div>
                                <button (click)="addskills()" type="submit" class="btn btn-primary mb-2">Add</button>
                            </form>
                        </div>
                </div>
            </div>
            
        </div>
    </div>
</div>



