<div class="h-100 mt-5" data-typography="poppins" data-theme-version="light" data-layout="vertical" data-nav-headerbg="color_3" data-headerbg="color_1" data-sidebar-style="mini" data-sibebarbg="color_3" data-sidebar-position="fixed" data-header-position="fixed" data-container="wide" direction="ltr" data-primary="color_1">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
                                        <a routerLink="/" class="brand-logo">
                                            <img class="img-fluid" width="250.5px" height="80.5px" src="../../../assets/images/jobgateLogo.png">
                                                
                                        </a>									</div>
                                    <h4 class="text-center mb-4 text-white">Forgot Password</h4>
                                    <form [formGroup]="resetForm">
                                        <div class="form-group">
                                            <label class="text-white"><strong>New Password</strong></label>
                                            <input formControlName="password" type="password" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="text-white"><strong>Confirm New Password</strong></label>
                                            <input formControlName="confirmpassword" type="password" class="form-control">
                                        </div>
                                        
                                        <div class="text-center mt-5">
                                            <button (click)="resetPassword()" type="submit" class="btn bg-white text-primary btn-block">SUBMIT</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p class="text-white"><a type="button" class="text-white" routerLink="/register">Sign up</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>