<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Forgot Password?</h2>
                    <ul>
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>
                            <i class="icofont-simple-right"></i>
                        </li>
                        <li>Forgot Password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="login-area pt-100">
    <div class="container">
        <h2>Forgot Password</h2>
        <form [formGroup]="forgotPswdForm">
            <div class="form-group">
                <input formControlName="email" type="email" class="form-control" placeholder="Email"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']"> Email is required</div>
                    <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                </div>
            </div>
           
        </form>
        <div class="login-sign-in">
            <ul>
                <li>
                    <a routerLink="/login">Sign In Here</a>
                </li>
                <li>
                    <a routerLink="/register">Sign Up Here</a>
                </li>
            </ul>
            <div class="text-center">
                <button (click)="onSubmit()" type="submit" class="btn login-btn">Submit</button>
            </div>
        </div>
        
    </div>
</div>